<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="primary">
      <ion-button color="light" (click)="settings()">
        <ion-icon slot="icon-only" name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="light">Programmed</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="center">
    <ion-icon name="hourglass" size="large"></ion-icon>
    <h3 color="light"><span [translate]="'title'"></span><strong >NETSWIPE</strong></h3>
    <p [translate]="'description'">Programmez votre premier message en appuyant sur le bouton ci-dessous</p>
    <ion-button href="/tabs/tab4" [translate]="'buttonTitle'">Schedule my message</ion-button>
  </div>


</ion-content>

<style>
  ion-button {
    --color: white;
  }
  strong {
    color: #1a5ef1;
  }
  .center {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 1rem;
    padding-left: 1rem;
    text-align: center;
    line-height: 1.5rem;
  }
</style>
