<ion-header>

  <ion-toolbar color="primary">
    <ion-title>sttings</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content padding class="settingsPage">
  <ion-list>
    <ion-item>
      <ion-label>Langures</ion-label>
      <ion-toggle></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>loks orientation</ion-label>
      <ion-toggle ></ion-toggle>
    </ion-item>

<!--    <ion-item>-->
<!--      <ion-label>Notifications for Invites</ion-label>-->
<!--      <ion-toggle secondary-->
<!--                  [ngModel]='preferences[PREF_NOTIFY_INVITES]'-->
<!--                  (ionChange)='changePreference($event, PREF_NOTIFY_INVITES)'></ion-toggle>-->
<!--    </ion-item>-->
  </ion-list>
</ion-content>
