<ion-header>

  <ion-toolbar color="primary">
    <ion-title color="light">Settings</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content padding class="settingsPage">
  <ion-list>
    <ion-item>
      <ion-label>Langures</ion-label>
        <ion-select [(ngModel)]="language" (ionChange)="changeLanguage()">
          <ion-select-option value="en" selected="true">English</ion-select-option>
          <ion-select-option value="es">Spanish</ion-select-option>
          <ion-select-option value="fr">French</ion-select-option>
        </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>loks orientation</ion-label>
      <ion-toggle [ngModel]='screenLock'
                  (ionChange)='changelock($event)'></ion-toggle>
    </ion-item>

  </ion-list>
</ion-content>
