<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      New message
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-row>
    <ion-col>
    <ion-button full (click)="captureAudio()">
      <ion-icon name="microphone"></ion-icon>
    </ion-button>
    </ion-col>
    <ion-col>
      <ion-button full (click)="takePicture()">
        <ion-icon name="camera"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="getGeolocation()">
        <ion-icon name="map"></ion-icon>
      </ion-button>
    </ion-col>
    <!--- <ion-button (click)="watchLocation()">
      Watch Location Updates
    </ion-button>
    <ion-button (click)="stopLocationWatch()">
      Stop Location Watch
    </ion-button>
   -->
  </ion-row>

  <ion-row>
    <div *ngIf="geoLatitude">
      <p class="address-text">

        <span class="watch-text" *ngIf="isWatching; else notWatching">
          Watching Location
        </span>
       <!--  <ng-template #notWatching>
          Location Watch Stopped
        </ng-template> -->

        <br>Address : {{geoAddress }}
      </p>
    </div>
  </ion-row>


  <form>
      <ion-row>
        <ion-col><ion-label stacked [translate]="'mail-recipient'">To</ion-label></ion-col>
        <ion-col><ion-input [(ngModel)]="to" type="text" name="to" placeholder="To."></ion-input></ion-col>
      </ion-row>
    <ion-row>
      <ion-col><ion-label stacked [translate]="'mail-objet'">Subject</ion-label></ion-col>
      <ion-col><ion-input [(ngModel)]="subject" type="text" name="subject" placeholder="Type your subject."></ion-input></ion-col>
    </ion-row>
    <ion-row>
      <ion-col><ion-label stacked [translate]="'mail-content'">Message</ion-label></ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row>
      <ion-textarea [(ngModel)]="message" name="message" placeholder="Type your message." clearOnEdit="true"></ion-textarea>
    </ion-row>
    <ion-row>
        <ion-col></ion-col>
        <ion-col><ion-button full (click)="sendEmail()">Send</ion-button></ion-col>
    </ion-row>
  </form>




  <ion-list>
      <ion-item *ngFor="let file of mediaFiles" tappable (click)="play(file)" text-wrap>
          {{ file.name }}
          <p>{{ file.size / 1000 / 1000 | number }} MB</p>
      </ion-item>
  </ion-list>
  <ion-row>
    <ion-button (click)="lockScreenOrientation()">Lock Orientation</ion-button>
    <ion-button (click)="unlockScreenOrientation()">Unlock Orientation</ion-button>
  </ion-row>
	<img [src]="currentImage" *ngIf="currentImage">
</ion-content>
